<h1>About Meadowlark Travel</h1>
{{#if fortune}}
  <p>Your fortune for the day:</p>
  <blockquote>{{fortune}}</blockquote>
{{/if}}
<body>
  <header>
    <img src="/img/logo.jpg" alt="Meadowlark Travel Logo">
  </header>
  {{{body}}}
</body>